%% elvis code style rules for linting
[{elvis,
    [
        {config,
            [
                #{dirs => [ "apps/buggy/src" ],
                    filter => "*.erl",
                    rules =>
                    [
                        {elvis_style, no_tabs},
                        {elvis_style, no_trailing_whitespace}
                    ]
                }
            ]
        }
    ]
}].
